header {
  background-color: rgb(25, 145, 115);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 100px;
}

header ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header ul li {
  font-size: 2rem;
  padding: 10px;
  color: black;
  font-weight: 700;
  cursor: pointer;
  transition: scale 0.2s;
}

header ul li:hover {
  scale: 1.05;
  text-decoration: underline;
  padding: 10px 0;
}

header a {
  text-decoration: none;
  color: black;
}

main {
  min-height: 100vh;
}

/* Footer */
footer {
  color: rgb(20, 20, 20);
  background-color: rgb(25, 145, 115);
  width: 100%;
  height: 20vh;
}

.nav-link {
  gap: 60px;
  height: 3rem;
  color: rgb(20, 20, 20);
}

h5 {
  font-size: 2rem;
  text-align: center;
  padding: 10px 0;
}

p {
  font-size: 1.5rem;
  text-align: center;
}

.social {
  text-align: center;
  padding: 20px;
}

.social i:hover {
  cursor: pointer;
  background-color: rgb(25, 145, 115);
}

.btn {
  color: rgb(20, 20, 20);
  padding: 20px;
}
