/* Contenedor de las tarjetas en grilla */
.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
  justify-content: center;
  padding: 10px;
}

/* Tarjeta individual de cada Pokémon */
.card {
  background: rgb(6, 233, 184);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgb(3, 180, 71);
  padding: 15px;
  margin: 10px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 120px;
  height: 120px;
}

.card h3 {
  text-transform: capitalize;
}

h1 {
  color: rgb(44, 119, 100);
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9);
  font-size: 5rem;
  padding-bottom: 20px;
}
