* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* import { useEffect, useState } from "react";
import { Layout } from "../../components/Layout/Layout.jsx";
import "./DatosAPI.css";

function DatosAPI() {
  const [pokemonData, setpokemonData] = useState([]);
  const BASE_URL = "https://pokeapi.co/api/v2/pokemon/";

  const fetchPokemon = async () => {
    try {
      const response = await fetch();
      const data = await response.json("https://pokeapi.co/api/v2/pokemon/");
      setpokemonData((pokemonData) => [...pokemonData, data]);
    } catch (error) {
      console.error("Error con el Fetch de Pokemon");
    }
  };

  const fetchAllPokemon = () => {
    for (let i = 0; i < 20; i++) {
      fetchPokemon(i);
    }
  };

  useEffect(() => {
    fetchAllPokemon();
    console.log(pokemonData);
  }, [pokemonData]);

  return (
    <>
      <h1 className="text-4xl font-semibold text-center my-6">Pokemon</h1>
      <div className="px-4">
        <div className="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
          {pokemonData.map((pokemon, index) => {
            <PokemonCard key={index} pokemonData={pokemon} />;
          })}
        </div>
      </div>
    </>
  );
}

export { DatosAPI };
 */

/* import React from "react";

function PokemonCard({ pokemonData }) {
  if (!pokemonData) {
    return <h1>Cargando pokemon...</h1>;
  }

  return (
    <div className="bg-white rounded-lg p-4">
      <img src={pokemonData.sprites.front_default} alt="pokemon image" />
      <div>
        <h2 className="text-xl font-semibold capitalize">{pokemonData.name}</h2>
        <p>ID: {pokemonData.id}</p>
      </div>
    </div>
  );
}

export default { PokemonCard };
 */
